{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}

                    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                        <div class="profile-body">
                            <div class="image-area">
                                <img src="{{ object.photo.url }}" width="130px" height="130px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p>{{ object.designation }}</p>

                            </div>
                        </div>
                        <div class="profile-footer">
                            <ul>
                                <li>
                                    <span>Address: -</span><span>{{ object.block }} {{ object.street }}, {{ object.area }}, {{ object.city }}, {{ object.state }}, {{ object.country }} </span>
                                </li>
                                <li>
                                    <span>contact:</span><span>Phone no.: -{{ object.mobile }}  telephone: -{{ object.telephone }}</span>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="card card-about-me">
                        <div class="header">
                            <h2>ABOUT ME</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>Birth Date
                                    </div>
                                    <div class="content">
                                        {{ object.dob }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">location_on</i>
                                        Gender
                                    </div>
                                    <div class="content">
                                        {{ object.gender }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">edit</i>
                                        Education
                                    </div>
                                    <div class="content">
                                       {{ object.education }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Salary
                                    </div>
                                    <div class="content">
                                        {{ object.salary }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Date of join
                                    </div>
                                    <div class="content">
                                        {{ object.dateofjoin }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Shift Time
                                    </div>
                                    <div class="content">
                                        {{ object.shifttime }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Working Hours
                                    </div>
                                    <div class="content">
                                        {{ object.workinghours }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Bank name
                                    </div>
                                    <div class="content">
                                        {{ object.bankname }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Bank Account Number
                                    </div>
                                    <div class="content">
                                        {{ object.bankaccountno }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        IFSC Code
                                    </div>
                                    <div class="content">
                                        {{ object.IFSCcode }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Pan Number
                                    </div>
                                    <div class="content">
                                        {{ object.panno }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Aadhar Number
                                    </div>
                                    <div class="content">
                                        {{ object.aadharno }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Reference
                                    </div>
                                    <div class="content">
                                        {{ object.reference }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Document
                                    </div>
                                    <div class="content">
                                       <a href="{{ object.documents.url }}" download>Document File</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
{% endblock %}
